* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    color: #ffff;
}

.container {
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    padding: 25px 0;
}

.discription {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* header section styles  */
.header {
    background: rgba(255, 144, 14, 0.1);
    height: 800px;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
}

.header-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    text-align: center;
    width: 40%;
}

.header-title {
    font-weight: 700;
    font-size: 3rem;
}

.header-img img {
    padding-top: 20px;
    width: 700px;
    max-width: 100%;
}

/* features section styles  */
.features-section {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 50px 0;
}

.features-images {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-images img {
    width: 100%;
}

.features-content {
    width: 50%;
}

.feauture-content {
    font-weight: 500;
    font-size: 45px
}

.dep-colour {
    color: #727272;
}

.yellow-colour {
    color: #FF900E;
}

/* Experience section styles  */
.experience-section {
    display: flex;
    gap: 20px;
}

.experience-content {
    width: 50%;
    max-width: 100%;
}

.exprience-title {
    border-left: 4px solid #FF900E;
    padding: 0 5px;
}

.exprience-title h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}

.content {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10PX;
    margin-top: 5px;
}

.content h3 {
    font-weight: 600;
    font-size: 18px;
    color: #131313;
}

.experience-section-images {
    width: 50%;
    position: relative;
}

.experience-section-images img {
    width: 100%;
}

.work-time {
    width: 160px;
    height: 90px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin-top: -30px;
    position: absolute;
}

.work-time h1 {
    font-weight: 700;
    font-size: 30px;
}

/* activites section styles  */
.our-activites {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.fatch-problem {
    width: 40%;
    text-align: left;
    padding-top: 50px;
}

.fatch-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.activtie {
    height: 150px;
    width: 150px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
}

.activtie:hover {
    transform: scale(1.1);
}

.activtie img {
    width: 30px;
}

.activtie h1 {
    font-size: 40px;
}

/* sponspore section styles  */
.spospore-section {
    padding: 50px 0;
}

.sponspore-content, .services-section {
    padding-top: 25px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.sponspore-title,.services-title  {
    font-size: 45px;
    margin-bottom: 25px;
}

.sponspore-logo {
    display: flex;
    justify-content: space-between;
}

.sponspore-logo img {
    width: 80px;
    padding: 50px 0;
    filter: grayscale(100%);
}





.team-services{
    display: flex;
    gap: 10px;
}
.service{
    background-color: #f2a5a52c;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.service img{
    width: 100%;
    margin-bottom: 25px;
}
.service h2{
    padding-top: 5px;
    margin-bottom: 10px;
}
.service p{
    margin-bottom: 15px;
    font-size: 18px;
}



/* footer section styles  */
.footer {
    background: #FFF4E7;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-weight: 400;
    font-size: 25px;
}

@media screen and (max-width:576px) {
    .menu-bar h1 {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .features-section {
        flex-direction: column;
    }

    .features-images {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }

    .features-content {
        width: 100%;
        padding: 10px;
        text-align: center
    }

    .experience-section {
        flex-direction: column;
    }

    .experience-content {
        padding: 15px;
        width: 100%;
    }

    .experience-section-images {
        width: 100%;
        padding: 10px;
    }

    .our-activites {
        flex-direction: column;
        gap: 20px;
        padding: 40px;
    }

    .fatch-problem {
        width: 100%;
        padding: 10px;
    }

    .activtie {
        width: 100%;
    }

    .sponspore-logo {
        flex-direction: column;
    }

    .sponspore-logo img {
        margin: 0 auto;
        width: 40%;
    }

    .team-services{
        flex-direction: column;
    }
    .service{
        padding: 10px;
    }
    .footer {
        height: 150px;
    }
    
    .footer p {
        font-size: 16px;
        padding: 0 15px;
    }
    
}